@import url('http://fonts.cdnfonts.com/css/airstrike');

.sub-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signin {
    max-width: 350px;
    width: 80%;
    padding: 2.5rem;
    margin: auto;
    background: #ffffff55;
    border-radius: 20px;
    border: 2px solid #fff;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#my-btn {
    background: linear-gradient(90deg, #f00, rgb(255, 56, 242));
    color: #fff;
}

h1 {
    color: #a00000;
    font-family: 'Lucida Sans';
    font-weight: 700;
}