body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: #e3e3e3;
}

.profile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.w90{
    width: 90%;
    margin-top: 3rem;
}