*{
    margin: 0;
    padding: 0;
}

body{
    background: #00000055;
}

.bg {
        background: url('../images/background.jpg') center / cover no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

.text > h1 {
    font: 5rem 'Oleo Script Swash Caps', cursive;
    text-shadow: 1px 1px 10px #333;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    font-size: 3rem;
    font-family: 900;
    color: #fff;
}

h1{
    margin-bottom: 2rem;
}

img{
    height: 50px;
    width: 50px;
    float: left;
}

.red{
    color: rgb(139, 0, 0);
    font-weight: 700;
}

.hide{
    display: none;
}