*{
    margin: 0;
}

#body{
    background-color: rgb(218, 218, 218);
}

.navsvg {
    width: 15px;
    height: 15px;
}

#logo{
    width: 2.2rem;
    height: 2.2rem;
    margin: auto 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
}

.container, .row{
    margin: 5%
}

.cardmargin{
    margin: 2rem auto;
}

img{
    width: 220px;
    height: 220px;
    background: rgba(0, 0, 0, 0.623);
}

.i{
    position: absolute;
    font-size: 5rem;
    color: #ffffffb6;
    box-shadow: 0 0 25px #000;
    right: 37%;
    top: 30%;
    border-radius: 50%;
}

.i:hover{
    color: #fff;
    font-size: 5.1rem;
}

.fixed-bottom{
    height: 7rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.712);
    color: rgba(255, 255, 255, 0.712);
    padding: 1rem;
}

#banner{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.animate{
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(359deg);
    }
}

.text-content p{
    position: absolute;
    left: 30%;
    top: 10%;
}

#proccessBar {
    position: absolute;
    left: 30%;
    top: 45%;
    width: 60%
}

.text-content .iconss{
    font-size: 1.5rem;
    position: absolute;
    left: 48%;
    bottom: 10%;
}

.text-content i{
    margin: auto .5rem;
}

ul {
    float: right;
}

:root {
    --icon-size: 2rem;
    --indicator-spacing: calc(var(--icon-size) / 8);
    --border-radius: calc(var(--icon-size) / 4);
    --nav-item-padding: calc(var(--icon-size) / 2);
    --background-color: #fff;
}

.navbar-container {
    width: max-content;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0rem;
    background-color: #ffffff9f;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 calc(var(--nav-item-padding) * 1.5);
    display: block;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list a {
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: var(--nav-item-padding);
}

.list .text {
    font-size: .8em;
    opacity: 0;
    pointer-events: none;
    transition: 250ms ease-in-out;
    position: absolute;
    bottom: calc(.5 * var(--nav-item-padding));
    transform: translateY(50%);
}

.list .icon {
    position: relative;
    transition: 250ms ease-in-out;
}

.list .icon svg {
    fill: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    display: block;
}

.list .active .text {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
}

.list .active .icon {
    transform: translateY(calc(-50% - var(--nav-item-padding)));
}

.list {
    position: relative;
}

.indicator {
    position: absolute;
    left: calc(var(--position) * (var(--icon-size) + var(--nav-item-padding) * 2));
    transition: 250ms ease-in-out;
}

.indicator::after,
.indicator::before {
    content: "";
    position: absolute;
    border-radius: 100%;
}

.indicator::after {
    background-color: #00ffea;
    width: calc(var(--icon-size) * 2);
    height: calc(var(--icon-size) * 2);
    top: calc(-1 * var(--icon-size));
}

.indicator::before {
    width: calc((var(--icon-size) + var(--indicator-spacing)) * 2);
    height: calc((var(--icon-size) + var(--indicator-spacing)) * 2);
    top: calc(-1 * var(--icon-size) - var(--indicator-spacing));
    left: calc(-1 * var(--indicator-spacing));
}

.corners::before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    z-index: 1;
    top: calc(-1 * var(--indicator-spacing));
    left: calc(.2 * var(--indicator-spacing));
    transform: translateX(-100%);
    border-top-right-radius: 100%;
    border-width: calc(var(--indicator-spacing));
    border-color: transparent;
    border-style: solid;
    border-bottom: none;
    border-left: none;
}

.corners::after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    z-index: 1;
    top: calc(-1 * var(--indicator-spacing));
    left: calc(var(--icon-size) * 2 + -.2 * var(--indicator-spacing));
    border-top-left-radius: 100%;
    border-width: calc(var(--indicator-spacing));
    border-color: transparent;
    border-style: solid;
    border-bottom: none;
    border-right: none;
}