.cardmargin{
    margin: 2rem auto;
}

img{
    width: 220px;
    height: 220px;
    background: rgba(0, 0, 0, 0.623);
}

.i{
    position: absolute;
    font-size: 5rem;
    color: #ffffffb6;
    box-shadow: 0 0 25px #000;
    right: 37%;
    top: 30%;
    border-radius: 50%;
}

.i:hover{
    color: #fff;
    font-size: 5.1rem;
}

.fixed-bottom{
    height: 7rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.712);
    color: rgba(255, 255, 255, 0.712);
    padding: 1rem;
}

#banner{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.animate{
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(359deg);
    }
}

.text-content p{
    position: absolute;
    left: 30%;
    top: 10%;
}

#proccessBar {
    position: absolute;
    left: 30%;
    top: 45%;
    width: 60%
}

.text-content .iconss{
    font-size: 1.5rem;
    position: absolute;
    left: 48%;
    bottom: 10%;
}

.text-content i{
    margin: auto .5rem;
}

input[type="range"] {
    color: #0f0;
}