.result {
    width: 96%;
    padding: 2%;
    margin: 2%;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 5rem;
    line-height: 1;
    border-top: 0.5px solid black;
    border-bottom: 0.5 solid black;
    box-shadow: 0px 0px 25px gray;
    height: 90%;
    backdrop-filter: blur(20px);

}

dt {
    color: #000;
}

dd {
    font-family: Arial;
    color: #2b2b2b;
}

.logo {
    width: 6.5rem;
    border-radius: 20%;
    float: right;
}

#description {
    width: 70%;
}

#title {
    margin-right: 2rem;
    margin-top: 2rem;
    font-family: Impact;
    letter-spacing: 0.1rem;
    font-weight: 900;
}

#download {
    position: relative;
    top: 3rem;
    left: 6.5rem;
    width: 7rem;
    float: right;
}

#search {
    margin: 1%;
}

#input {
    margin-bottom: 10px;
}