.text-content {
    width: max-content;
    height: max-content;
    padding: 3rem;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000, 0 0 5px rgb(235, 253, 192) inset;
    color: rgb(217, 217, 217);
    text-shadow: 1px 0 1px #000;
    /* background: linear-gradient(45deg, rgb(14, 133, 252), rgb(0, 244, 187)) */
}

table {
    padding: .5rem;
    text-align: center;
}

td {
    padding: .3rem .5rem;
}