<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="326946298299-es2nul9ejjg86ir6d06kauhch4pmjbqv.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- font awesome  -->
    <script src="https://kit.fontawesome.com/2c582398a5.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/home.css">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <title>MultiMedia</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><strong>MultiMedia Explorer</strong></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home#feature">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home#pricing">Pricing</a>
                        </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Modes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/movies">Movies</a></li>
                            <li><a class="dropdown-item" href="/playstore">PlayStore</a></li>
                            <li><a class="dropdown-item" href="/anime">Anime</a></li>
                            <li><a class="dropdown-item" href="/weather">Weather</a></li>
                            <li><a class="dropdown-item" href="/music">Music</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="dropdown dropstart">
                <img class="dropdown-toggle profile" type="button" id="dropdownMenuButton1" src="<%= user.picture %>" data-bs-toggle="dropdown" aria-expanded="false">
                <ul class="dropdown-menu me-5" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#"><%= user.name %></a></li>
                    <li><a class="dropdown-item" href="mailto:<%= user.email %>"><%= user.email %></a></li>
                    <li><a class="dropdown-item" href="/logout" onclick="signOut()">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Hero Section  -->
    <section id="home">
        <div class="container-fluid hero">
            <div class="row w-100">
                <div class="col-lg-6">
                    <img class="img" src='../../images/social.png' alt="img" width="100%" />
                </div>
                <div class="col-lg-6 mt-5">
                    <div class="text-content">
                        <h3>Welcome to</h3>
                        <h3>MultiMedia</h3>
                        <p>
                            All in one web
                            <br />
                            A place where you have been looking for!
                            <br />
                            Get all kind of entertainment and Informetion from single platform!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- feature section  -->
    <section id="feature">
        <div class="container-fluid feature mt-5">
            <center>
                <h3>Features</h3>
                <div class="line-mf"></div>
            </center>
            <div class="row mt-5 justify-content-center align-item-center d-flex">
                <div class="mycard mt-2 col-lg-5 col-md-10">
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M326.1 160l127.4-127.4C451.7 32.39 449.9 32 448 32h-86.06l-128 128H326.1zM166.1 160l128-128H201.9l-128 128H166.1zM497.7 56.19L393.9 160H512V96C512 80.87 506.5 67.15 497.7 56.19zM134.1 32H64C28.65 32 0 60.65 0 96v64h6.062L134.1 32zM0 416c0 35.35 28.65 64 64 64h384c35.35 0 64-28.65 64-64V192H0V416z" />
                    </svg> <span class="h4 text-center">Movies & Web series</span>
                    <ul>
                        <li>This feature allows you to search any movies and web series.</li>
                        <li>Get an exclusive informetion searched quaries.</li>
                        <li>Get a brief overview of your desired movie or web series.</li>
                    </ul>
                    <center> <a href="/movies" class="btn third" role="button">Movies</a>
                    </center>
                </div>

                <div class="mycard mt-2 col-lg-5 col-md-10">
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z" />
                    </svg>
                    <span class="h4 text-center">Playstore</span>
                    <ul>
                        <li>This feature allows you to search any Apps and Games.</li>
                        <li>Get an exclusive informetion searched application.</li>
                        <li>It will redirect to the playstore</li>
                    </ul>
                    <center> <a role="button" href="/playstore" class="btn third">
                            Playstore</a>
                    </center>
                </div>

                <div class="mycard mt-2 col-lg-5 col-md-10">
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path
                            d="M176 322.9l.0002-114.9c0-8.75-7.25-16-16-16s-15.1 7.25-15.1 16L144 322.9c-18.62 6.625-32 24.25-32 45.13c0 26.5 21.5 48 48 48s48-21.5 48-48C208 347.1 194.6 329.5 176 322.9zM272 278.5V112c0-61.87-50.12-112-111.1-112S48 50.13 48 112v166.5c-19.75 24.75-32 55.5-32 89.5c0 79.5 64.5 143.1 144 143.1S304 447.5 304 368C304 334 291.8 303.1 272 278.5zM160 448c-44.13 0-80-35.87-80-79.1c0-25.5 12.25-48.88 32-63.75v-192.3c0-26.5 21.5-48 48-48s48 21.5 48 48v192.3c19.75 14.75 32 38.25 32 63.75C240 412.1 204.1 448 160 448z" />
                    </svg>
                    <span class="h4">Weather Caster</span>
                    <ul>
                        <li>This feature allows you to get weather details.</li>
                        <li>Get temprature related searched location.</li>
                        <li>Dynamic background according to weather condition.</li>
                    </ul>
                    <center> <a class="btn third" role="button" href="/weather">
                            Weather Caster</a>
                    </center>
                </div>

                <div class="mycard mt-2 col-lg-5 col-md-10">
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M511.1 367.1c0 44.18-42.98 80-95.1 80s-95.1-35.82-95.1-79.1c0-44.18 42.98-79.1 95.1-79.1c11.28 0 21.95 1.92 32.01 4.898V148.1L192 224l-.0023 208.1C191.1 476.2 149 512 95.1 512S0 476.2 0 432c0-44.18 42.98-79.1 95.1-79.1c11.28 0 21.95 1.92 32 4.898V126.5c0-12.97 10.06-26.63 22.41-30.52l319.1-94.49C472.1 .6615 477.3 0 480 0c17.66 0 31.97 14.34 32 31.99L511.1 367.1z" />
                    </svg>
                    <span class="h4">Musify</span>
                    <ul>
                        <li>This feature allows you play songs</li>
                        <li>Ads free experience</li>
                        <li>Faster performance</li>
                    </ul>
                    <center> <a class="btn third" role="button" href="/music">
                            Musify</a></center>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- pricing section  -->
    <section id="pricing">
        <div id="generic_price_table">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="price-heading clearfix">
                                <h1>MultiMedia Pricing</h1>
                                <div class="line-mf mb-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="generic_content clearfix">
                                <div class="generic_head_price clearfix">
                                    <div class="generic_head_content clearfix">
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>Basic</span>
                                        </div>
                                    </div>
                                    <div class="generic_price_tag clearfix">
                                        <span class="price">
                                            <span class="sign">$</span>
                                            <span class="currency">09</span>
                                            <span class="cent">.99</span>
                                            <span class="month">/MON</span>
                                        </span>
                                    </div>

                                </div>
                                <div class="generic_feature_list">
                                    <ul>
                                        <li><span>Faster</span> Experience</li>
                                        <li><span>Priority</span> Support</li>
                                        <li><span>Extra</span> Features</li>
                                    </ul>
                                </div>
                                <div class="generic_price_btn clearfix">
                                    <a class="" href="">Buy now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="generic_content active clearfix">
                                <div class="generic_head_price clearfix">
                                    <div class="generic_head_content clearfix">
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>Standard</span>
                                        </div>
                                    </div>
                                    <div class="generic_price_tag clearfix">
                                        <span class="price">
                                            <span class="sign">$</span>
                                            <span class="currency">49</span>
                                            <span class="cent">.99</span>
                                            <span class="month">/MON</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="generic_feature_list">
                                    <ul>
                                        <li><span>10k</span> Request limit</li>
                                        <li><span>Beta</span> Version access</li>
                                        <li><span>Priority</span> Support</li>
                                        <li><span>Custom</span> UI</li>
                                        <li><span>24/7</span> Support</li>
                                    </ul>
                                </div>
                                <div class="generic_price_btn clearfix">
                                    <a class="" href="">Buy now</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="generic_content clearfix">
                                <div class="generic_head_price clearfix">
                                    <div class="generic_head_content clearfix">
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>Unlimited</span>
                                        </div>
                                    </div>
                                    <div class="generic_price_tag clearfix">
                                        <span class="price">
                                            <span class="sign">$</span>
                                            <span class="currency">99</span>
                                            <span class="cent">.99</span>
                                            <span class="month">/MON</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="generic_feature_list">
                                    <ul>
                                        <li><span>Unlimited</span> Request</li>
                                        <li><span>Priority</span> Support</li>
                                        <li><span>Exclusive</span> Badge</li>
                                        <li><span>99%</span> up time</li>
                                        <li><span>24/7</span> Support</li>
                                    </ul>
                                </div>
                                <div class="generic_price_btn clearfix">
                                    <a class="" href="">Buy now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <script src="/javascript/signout.js"></script>
</body>

</html>