<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="YOUR_GOOGLE_CLIENT_ID">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap" rel="stylesheet">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>MultiMedia</title>
</head>

<body>
    <div class="bg">
        <div class="text">
            <center class="hide" data-show>
                <img src="../../images/no-internet.png" alt=".">
                <h1 class="red">No Internet</h1>
            </center>
            <h1>MultiMedia</h1>
            <div class="g-signin2 abcRioButtonContentWrapper" data-width="300" data-height="50" data-onsuccess="onSignIn" data-longtitle="true">
            </div>
        </div>
    </div>

    <script src="/javascript/signin.js"></script>
    <script src="/javascript/internetCheck.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>

</html>