<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="326946298299-es2nul9ejjg86ir6d06kauhch4pmjbqv.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>MultiMedia</title>
</head>

<body>
    <div class="bg">
        <div class="text">
            <h1>Welcome to MultiMedia</h1>
            <div class="g-signin2" data-width="300" data-height="50" data-onsuccess="onSignIn" data-longtitle="true">
            </div>
        </div>
    </div>

    <script src="/javascript/signin.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>

</html>